body{
    margin: 0;
    padding: 0;
}
.header
{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(job11.jpg);
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
h1
{
    color:#fff;
    margin-bottom: 18px; 
    font-size :45px;
    letter-spacing: 2px;
    text-align: center;
}
.search-job 
{
 height: 40px;
 padding: 10px;
 border: none;
 border-radius: 25px;
 outline: none;
}

.category
{
    width: 400px;
}
.location
{
    width: 200px;
}
.search-btn
{
    height: 50px;
    width: 150px;
    background: #ffeb3b;
    border: none;
    color:#000;
    border-radius: 25px;

}
.search-btn:hover{
    background: #ffc107;
    cursor: pointer;
}
.form-box
{
    background: rgba(0,0,0,0.5);
    padding: 30px;
    margin-bottom: 70%;

}

/*####################################################*/
/*.nav-area
{

    list-style: none;
    margin-top: 30px;
    height: 10vh;
}*/
/*.wrapper
{
    width: 1170px;
    margin-top: 60px;
}

.nav-area li
{
    display: inline-block;
}
.nav-area li a
{
    color:#fff;
    text-decoration:none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 14px; 
}
.nav-area li a: hover{
    background: #fff;
    color:#333;

}
.logo img {
    width:90px;
    float: left;
    height: auto;
}*/