<!-- <button class="butn btn-primary">submit</button> -->
<h1>Enrollment form</h1>
<form #userForm="ngForm">
  {{userForm.value | json}}
  <hr/>
  {{userModel | json}}
  <div class="form-group">
  <label>Name</label>
<input type="text" class="form-control" name="User Name" [(ngModel)]="userModel.name"/>
</div>

  <div class="form-group">
  <label>Email</label>
<input type="text" class="form-control" name="Email" [(ngModel)]="userModel.email"/>
</div>

  <div class="form-group">
  <label>Phone</label>
<input type="text" class="form-control" name="Phone" [(ngModel)]="userModel.phone"/>
</div>
  
<div class="form-group">
  <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
    <option>I am interesting in</option>
    <option *ngFor="let topic of topic">{{topic}}</option>
  </select>
</div>
<button class="btn btn-primary" type="submit">Submit Form</button>
</form>